{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}"/>
    <title>SPLENDID SALES</title>
     <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="{% static 'css/lib/chartist/chartist.min.css' %}" rel="stylesheet" />
    <link href=" {% static 'css/lib/calendar2/semantic.ui.min.css' %}" rel="stylesheet"/>
    <link href=" {% static 'css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/helper.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="{% static 'https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}"></script>
    <script src="{% static 'https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}"></script>
<![endif]-->

    <script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,

	axisY :{
		includeZero: false,

	},
	toolTip: {
		shared: true
	},
	legend: {
		fontSize: 13
	},
	data: [{
		type: "splineArea",
		showInLegend: true,
		name: "EC2",
		yValueFormatString: "##0",

		dataPoints: [

			{ x: new Date(2012, 7), y: 0 },
			{ x: new Date(2013, 8), y: 10 },
			{ x: new Date(2014, 9), y: 120 },
			{ x: new Date(2015, 10), y: 0 },
			{ x: new Date(2016, 11), y: 0 },
			{ x: new Date(2017, 0),  y: 160 },
			{ x: new Date(2018, 1),  y: 10 }
		]
 	},
	{
		type: "splineArea",
		showInLegend: true,
		name: "QuickSight",
		yValueFormatString: "##0",
		dataPoints: [

			{ x: new Date(2012, 7), y: 0 },
			{ x: new Date(2013, 8), y: 60 },
			{ x: new Date(2014, 9), y: 10 },
			{ x: new Date(2015, 10), y: 0 },
			{ x: new Date(2016, 11), y: 120 },
			{ x: new Date(2017, 0), y: 75},
			{ x: new Date(2018, 1), y: 120 }
		]
 	},
	{
		type: "splineArea",
		showInLegend: true,
		name: "Lambda",
		yValueFormatString: "##0",
		dataPoints: [

			{ x: new Date(2012, 7), y: 90 },
			{ x: new Date(2013, 8), y: 40 },
			{ x: new Date(2014, 9), y: 90 },
			{ x: new Date(2015, 10), y: 120 },
			{ x: new Date(2016, 11), y: 0 },
			{ x: new Date(2017, 0), y: 30 },
			{ x: new Date(2018, 1), y: 40 }
		]
 	},
	{
		type: "splineArea",
		showInLegend: true,
		yValueFormatString: "##0",
		name: "S3",
		dataPoints: [

			{ x: new Date(2012, 7), y: 0 },
			{ x: new Date(2013, 8), y: 80 },
			{ x: new Date(2014, 9), y: 30 },
			{ x: new Date(2015, 10), y: 0 },
			{ x: new Date(2016, 11), y: 150 },
			{ x: new Date(2017, 0), y: 60 },
			{ x: new Date(2018, 1), y: 30 }
		]
	},
	{
		type: "splineArea",
		showInLegend: true,
		yValueFormatString: "##0",
		name: "Rds",

		dataPoints: [

			{ x: new Date(2012, 7), y: 0 },
			{ x: new Date(2013, 8), y: 120 },
			{ x: new Date(2014, 9), y: 50 },
			{ x: new Date(2015, 10), y: 0 },
			{ x: new Date(2016, 11), y: 40 },
			{ x: new Date(2017, 0), y: 90 },
			{ x: new Date(2018, 1), y: 30 }
		]
	}]


});
chart.render();

}
</script>
<style>
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #4d94ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="dashboard.html">
                        <!-- Logo icon -->
                        <b><img src="{% static 'images/favicon.png' %}" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src="{% static 'images/logotext.png' %}" alt="homepage" class="dark-logo" /></span>
                    </a>
                </div>
                <!-- End Logo -->
                 <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="{% static 'javascript:void(0)' %}"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="{% static 'javascript:void(0)' %}"><i class="ti-menu"></i></a> </li>
                        <!-- Messages -->
                        <li class="nav-item dropdown mega-dropdown"> <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-th-large"></i></a>
                            <div class="dropdown-menu animated zoomIn">
                                <ul class="mega-dropdown-menu row">


                                    <li class="col-lg-3  m-b-30">
                                        <h4 class="m-b-20">CONTACT US</h4>
                                        <!-- Contact -->
                                        <form>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="exampleInputname1" placeholder="Enter Name"> </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Enter email"> </div>
                                            <div class="form-group">
                                                <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Message"></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-info">Submit</button>
                                        </form>
                                    </li>
                                    <li class="col-lg-3 col-xlg-3 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-lg-3 col-xlg-3 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        </ul>
                                    </li>
                                    <li class="col-lg-3 col-xlg-3 m-b-30">
                                        <h4 class="m-b-20">List style</h4>
                                        <!-- List style -->
                                        <ul class="list-style-none">
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                            <li><a href="{% static 'javascript:void(0)' %}"><i class="fa fa-check text-success"></i> This Is Another Link</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                    </ul>
                    <!-- User profile and search -->
                     <ul class="navbar-nav my-lg-0">

                        <!-- Search -->
                        <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted  " href="{% static 'javascript:void(0)' %}"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search here"> <a class="srh-btn"><i class="ti-close"></i></a> </form>
                        </li>
                        <!-- Comment -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-bell"></i>
								<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
							</a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-success btn-circle m-r-10"><i class="ti-calendar"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-info btn-circle m-r-10"><i class="ti-settings"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is title</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i></div>
                                                <div class="mail-contnet">
                                                    <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="{% static 'javascript:void(0);' %}"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <!-- End Comment -->
                        <!-- Messages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-envelope"></i>
								<div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
							</a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn" aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 4 new messages</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src= "{% static 'images/picon.png' %}" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="{% static 'images/users/2.jpg' %}" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>John Doe</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="{% static 'images/users/3.jpg' %}" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Mr. John</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                                </div>
                                            </a>
                                            <!-- Message -->
                                            <a href="#">
                                                <div class="user-img"> <img src="{% static 'images/users/4.jpg' %}" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                                <div class="mail-contnet">
                                                    <h5>Michael Qin</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                </div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center" href="{% static 'javascript:void(0);' %}"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- End Messages -->
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'images/picon.png' %}" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">

                                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                    <li><a href="{% url 'privacy' %}"><i class="ti-wallet"></i> Privacy</a></li>
                                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                                    <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                                    <li><a href="{% url 'post' %}" ><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-primary pull-right">2</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href=" {{ rev }} ">My Dashboard </a></li>
                                <li><a href="{{ rev1 }}">Customers </a></li>
                            </ul>
                        </li>
                        <li class="nav-label">Apps</li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-suitcase"></i><span class="hide-menu">Profile</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'privacy' %}">Privacy</a></li>
                                <li><a href="#">Change password</a></li>
                                <li><a href="#">Settings</a></li>
                            </ul>
                        </li>
                        <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-envelope"></i><span class="hide-menu">Email</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="{% url 'emailcompose' %}">Compose</a></li>

                                <li><a href="{% url 'emailread' %}">Inbox</a></li>
                            </ul>
                        </li>
<li> <a href="{% url 'analysis' %}" aria-expanded="false"><i class="fa fa-bar-chart"></i><span class="hide-menu">Analysis</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% static 'javascript:void(0)' %}">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">

                    <div class="col-md-4">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-shopping-cart f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{sales}} </h2>
                                    <p class="m-b-0">Sales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-archive f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ product }}</h2>
                                    <p class="m-b-0">Products</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{count}}</h2>
                                    <p class="m-b-0">Customers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bg-white m-l-0 m-r-0 box-shadow ">

                    <!-- column -->
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Product chart</h4>
                                <div id="chartContainer" style="height: 370px; width: 100%;"></div>
                                <script src="{% static 'js/canvasjs.min.js' %}"></script>
                            </div>
                        </div>
                    </div>
                    <!-- column -->

                    <!-- column -->
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body browser">
                                <p class="f-w-600">Amazon EC2 <span class="pull-right">{{ ec2 }}</span></p>
                                <div class="progress ">
                                    <div role="progressbar" style="width: {{ec2}}%; height:8px;" class="progress-bar bg-danger wow animated progress-animated"> <span class="sr-only">20% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">Amazon QuickSight<span class="pull-right">{{ quick_sight }}</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: {{ quick_sight }}%; height:8px;" class="progress-bar bg-info wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">AWS Lambda<span class="pull-right">{{ lambd }}</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: {{ lambd }}%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

                                <p class="m-t-30 f-w-600">Amazon S3<span class="pull-right">{{s3}}</span></p>
                                <div class="progress">
                                    <div role="progressbar" style="width: {{s3}}%; height:8px;" class="progress-bar bg-warning wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>

								<p class="m-t-30 f-w-600">Amazon RDS<span class="pull-right">{{rds}}</span></p>
                                <div class="progress m-b-30">
                                    <div role="progressbar" style="width: {{rds}}%; height:8px;" class="progress-bar bg-success wow animated progress-animated"> <span class="sr-only">60% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- column -->
                </div>
                <!--<div class="row">
					<div class="col-lg-3">
                        <div class="card bg-dark">
                            <div class="testimonial-widget-one p-17">
                                <div class="testimonial-widget-one owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="{% static 'images/avatar/2.jpg' %}" alt="" />
                                            <div class="testimonial-author">John</div>
                                            <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="{% static 'images/avatar/3.jpg' %}" alt="" />
                                            <div class="testimonial-author">Abraham</div>
                                            <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="{% static 'images/avatar/1.jpg' %}" alt="" />
                                            <div class="testimonial-author">Lincoln</div>
                                            <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="{% static 'images/avatar/4.jpg' %}" alt="" />
                                            <div class="testimonial-author">TYRION LANNISTER</div>
                                            <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                                           <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="{% static 'images/avatar/5.jpg' %}" alt="" />
                                            <div class="testimonial-author">TYRION LANNISTER</div>
                                            <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="{% static 'images/avatar/6.jpg' %}" alt="" />
                                            <div class="testimonial-author">TYRION LANNISTER</div>
                                            <div class="testimonial-author-position">Founder-Ceo. Dell Corp</div>

                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation .
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-title">
                                <h4>Recent Contacts </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Name</th>
                                                <th>Product</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                         {% for cust in list %}
                                            <tr>
                                                <td>
                                                    <div class="round-img">
                                                        <a href=""><img src="{% static 'images/picon.png' %}" alt=""></a>
                                                    </div>
                                                </td>

                                                <td>{{ cust.cid.firstname }}</td>
                                                <td><span>{{ cust.rid.rname }}</span></td>
                                                <td><span class="badge badge-success">{{ cust.status }}</span></td>
                                            </tr>
                                         {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
					<div class="col-lg-8">
						<div class="row">
						<div class="col-lg-6">
							<div class="card bg-dark">
								<div class="testimonial-widget-one p-30">
                                <div class="testimonial-widget-one owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="{% static 'images/joshua.gif' %}" alt="" />
                                            <div class="testimonial-author">Joshua J.Marine</div>


                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i> Challenges are what make life interesting and overcoming them is what makes life beautiful.
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="{% static 'images/oprah.jpg' %}" alt="" />
                                            <div class="testimonial-author">Oprah Winfrey</div>


                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>Know what sparks the light in you. Then use that light to Illuminate the world.
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="{% static 'images/william.jpg' %}" alt="" />
                                            <div class="testimonial-author">William Longgood</div>


                                            <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>  Dreams and Dedication are a Powerful Combination.
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimonial-content">
                                            <img class="testimonial-author-img" src="{% static 'images/Sri_Sri.jpg' %}" alt="" />
                                            <div class="testimonial-author">Sri Sri</div>


                                           <div class="testimonial-text">
                                                <i class="fa fa-quote-left"></i>  Destiny belongs to those who believe in the beauty of their dreams and have the courage to pursue it. Don't Stop when you are tired, stop when you are done
                                                <i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
							</div>
							<!-- /# card -->
						</div>
						<!-- /# column -->
						<div class="col-lg-6">
							<div class="card">

								<div class="card-body">
                                  <div class="card-title">
									<center><h4> Calendar </h4>
                                    </center>
								</div>
									<div class="year-calendar"></div>
								</div>
							</div>
						</div>


						</div>
					</div>

				    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Schedule</h4>
                                <div class="card-content">
                                    <div class="todo-list">
                                        <div class="tdl-holder">
                                            <div class="tdl-content">
                                                <ul id="faves">
                                                    <li>
                                                        <label>
															<input type="checkbox"><i class="bg-primary"></i><span>Meeting at 10:00</span>

														</label>
                                                    </li>
                                                    <li>
                                                        <label>
															<input type="checkbox" checked><i class="bg-success"></i><span>Inspection</span>
															<a href="{% static '#' %}" class="ti-close"></a>
														</label>
                                                    </li>
                                                    <li>
                                                        <label>
															<input type="checkbox" checked><i class="bg-warning"></i><span>Meeting a client</span>
															<a href='#' class="ti-close"></a>
														</label>
                                                    </li>
                                                    <li>
                                                        <label>
															<input type="checkbox" checked><i class="bg-danger"></i><span>Design One page theme</span>
															<a href='#' class="ti-close"></a>
														</label>
                                                    </li>

                                                    <li>
                                                        <label>
															<input type="checkbox" checked><i class="bg-success"></i><span>Creating component page</span>
															<a href='#' class="ti-close"></a>
														</label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <input type='text' id="add" class="tdl-new form-control" placeholder="Type here">
                                          <center>  <button class="button" style="vertical-align:middle" onclick="addItem()"><span>Add</span></button></center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="#">SplendidSales</a></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static 'js/lib/jquery/jquery.min.js' %}"></script>

    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>
    <!--Custom JavaScript -->


    <!-- Amchart -->
     <script src="{% static 'js/lib/morris-chart/raphael-min.js' %}"></script>
    <script src="{% static 'js/lib/morris-chart/morris.js' %}"></script>
    <script src="{% static 'js/lib/morris-chart/dashboard1-init.js' %}"></script>


	<script src="{% static 'js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <!-- All Jquery -->
    <script src="{% static 'js/lib/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'js/lib/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>

    <!--stickey kit -->
    <script src="{% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>

    <script src="{% static 'js/lib/morris-chart/morris-init.js' %}"></script>
    <!--Custom JavaScript -->

    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/semantic.ui.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/prism.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.init.js' %}"></script>

    <script src="{% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- scripit init-->

    <script src="{% static 'js/custom.min.js' %}"></script>
    <script>
    function addItem(){
        var li = document.createElement("LI");
        var input = document.getElementById("add");
        var str="<label><input type=\"checkbox\"><i class=\"bg-success\"></i><span>";
		var str2="</span></label>";
		li.innerHTML = str+input.value+str2;
        input.value = "";

        document.getElementById("faves").appendChild(li);
    }
    </script>
</body>

</html>